GITHUB:
    USERNAME: string
    PAT: string
WEB_PROFILE:
    HOSTS: string
    USER: string
    APP_PORT: integer
    HOST_PORT: integer
    REPOSITORY:
        OWNER: string
        NAME: string
        BRANCH: string
PROXMOX:
    AUTH_USER: string # ansible connection user
    PVE_USER: string # pve user
    API_TOKEN_ID: string
    API_TOKEN: string
